# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.zip
*.swp
.DS_Store
.gopath/
.idea
bin/
lib/
vendor/*
!vendor/vendor.json
_vendor*/
.vscode/
*.iml
.env
